body{
    color: white;
     background-image: url(home-bg.jpg);
     text-decoration: none;

 }
 ul {
     list-style:none;
     padding:5px 0;margin:0;
 }
 ul li {
     padding:5px 0 10px;
     margin:0;
     line-height:150%;
 }
 h1, h2, h3, h4 {
     line-height:120%;
     padding:5px 0;
     margin:0;
 }
 h1 {
     background:url(./assets/svg/laptop.svg) no-repeat 0 50%;
     background-size:30px 30px;
     line-height:1;
     padding:0 0 0 45px;
     margin-bottom:15px;
 }
 h2 {
     padding:0 0 5px;
     margin:0 0 10px;
     border-bottom:2px solid #dadada;
     line-height:120%;
 }
 h3 {
     font-size:0.94rem;font-weight:normal;
 }

 .container{ 
     max-width:1200px;
     padding:0;
     margin: auto;
 }
 
 header {
     margin:0;
     padding:15px;
     text-align:right;
 }
         
 header a {
     display:inline-block;
 }
     
 main {
     display:grid;
     grid-template-columns:1fr 3fr;
     grid-gap:30px;
     margin:0 0 15px;
 }
 
 .about {
     display:grid;
     grid-template-columns:1fr;
     grid-template-rows:auto auto 100%;
     grid-gap:15px;
     align-items:start;
     padding:15px;
 }
             
 .about .info p {
     font-size:0.8rem;
     color:#606060;
 }
 
 .about .copy,.about .share {
     padding:15px 0;
     display:grid;
     grid-template-columns:1fr;
     grid-gap:5px;
     align-items:center;
     border-top:2px solid #dadada;
 }
         
 #device {
     margin-bottom:15px;
 }

 footer {
     padding:15px;
 }

 button{
     align-items: center;
appearance: none;
background-color: #fff;
border-radius: 24px;
border-style: none;
box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
box-sizing: border-box;
color: #3c4043;
cursor: pointer;
display: inline-flex;
fill: currentcolor;
font-family: "Google Sans",Roboto,Arial,sans-serif;
font-size: 14px;
font-weight: 500;
height: 20px;
justify-content: center;
letter-spacing: .25px;
line-height: normal;
max-width: 100%;
overflow: visible;
padding: 2px 24px;
position: relative;
text-align: center;
text-transform: none;
transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
width: auto;
will-change: transform,opacity;
z-index: 0;

 }


 button:hover {
     background: #d8d8d8;
     color: #000000f7;
   }
   
   button:active {
     box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
     outline: none;
   }
   
   button:focus {
     outline: none;
     border: 2px solid #5c5c5c;
   }
   
   button:not(:disabled) {
     box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
   }
   
   button:not(:disabled):hover {
     box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
   }
   
   button:not(:disabled):focus {
     box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
   }
   
   button:not(:disabled):active {
     box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
   }
   
   button:disabled {
     box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
   }

 footer p {
     color:#909090;
     font-size:0.8rem;
     text-align:center;
 }

 @media only screen and (max-width:768px) {
     ul li b {
         display:block;
     }

     h1 {
         background:url(./assets/svg/phone.svg) no-repeat 0 50%;
         background-size:contain;
     }

     h2 {
         font-size:1.4rem;
     }

     header {
         padding:15px 15px 5px;
     }

     main {
         grid-template-columns:1fr;
     }

     .about {
         grid-template-rows:auto auto auto;
         grid-gap:0;
     }
     
     .about .copy p,.about .share p {
         padding:0;
     }
 }



 
 /* CSS */
 .b {
   background-color: initial;
   background-image: linear-gradient(#8614f8 0, #760be0 100%);
   border-radius: 5px;
   border-style: none;
   box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
   color: #fff;
   cursor: pointer;
   display: inline-block;
   font-family: Inter, sans-serif;
   font-size: 16px;
   font-weight: 500;
   height: 60px;
   line-height: 60px;
   margin-left: -4px;
   outline: 0;
   text-align: center;
   transition: all .3s cubic-bezier(.05, .03, .35, 1);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: bottom;
   width: 190px;
 }
 
 .b:hover {
   opacity: .7;
 }
 
 @media screen and (max-width: 1000px) {
   .b {
     font-size: 14px;
     height: 55px;
     line-height: 55px;
     width: 150px;
   }
 }

 a{
     text-decoration: none;
     color: white;
 }